<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
        <div class="container-fluid d-flex">
                <div>
                    <p class="d-flex justify-content-start">Logo</p>
                </div>
                <div class="navbar-nav d-flex justify-content-end">
                    <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/users']">Home</a>
                    <a class="nav-link" href="#" [routerLink]="['/new','user']">Nuevo Usuario</a>
                </div>
          </div>       
</nav>

  