<header>
    <app-nav-head></app-nav-head>
</header>
<section>
    <h3>{{typeForm}} USUARIO</h3>
    <hr>
    <form  [formGroup]="usersForm" (ngSubmit)="getDataForm()">
        <div>
            <label class="form-label" for="first_name">Nombre Usuario</label>
            <input type="text" id="first_name" formControlName="first_name" placeholder="Introduzca nombre de usuario">
        </div>
        <div>
            <label class="form-label" for="last_name">Apellido Usuario</label>
            <input type="text" id="last_name" formControlName="last_name" placeholder="Introduzca apellido de usuario">
        </div>
        <div>
            <label class="form-label" for="email">Email Usuario</label>
            <input type="text" id="email" formControlName="email" placeholder="Introduzca email de usuario">
        </div>
        <div>
            <label class="form-label" for="image">Imagen Usuario</label>
            <input type="text" id="image" formControlName="image" placeholder="Introduzca URL imagen de usuario">
        </div>
        <input type="submit" value="{{typeBtn}}" class="btn btn-success mt-3" [disabled]="!usersForm.valid">

    </form>

</section>
